snippet link "Insert Link"
[${1:text}](${2:`!v substitute(@+, ' \|\n', '', 'g' )`})
endsnippet

snippet csscb "css code block"
\`\`\`css
$1
\`\`\`
endsnippet

snippet htmlcb "html code block"
\`\`\`html
$1
\`\`\`
endsnippet

snippet pythoncb "python code block"
\`\`\`python
$1
\`\`\`
endsnippet

snippet csscb "css code block"
\`\`\`css
$1
\`\`\`
endsnippet

snippet todo "todo"
- [ ] $1
endsnippet

snippet date "Insert current date in DD/MM/YYYY format"
`!v strftime("%d/%m/%Y")`
endsnippet
