snippet init "Initial lines"
#!/usr/bin/perl

use 5.010;
use strict;
use warnings;
endsnippet

snippet shebang "Initial lines"
#!/usr/bin/perl

use 5.010;
use strict;
use warnings;
endsnippet

# Variables
snippet v "Variable declaration"
my $$1 = $2;
endsnippet

# Print statements
snippet out "Print statement"
say($1);
endsnippet

snippet sout "Print statement"
say("$1");
endsnippet







