#------------------------------------------------------------------------------
# MISC
#------------------------------------------------------------------------------

snippet shebang "shebang"
#!/bin/sh
endsnippet

snippet todo "To Do"
# TODO: $1
endsnippet


#------------------------------------------------------------------------------
# CONDITIONALS
#------------------------------------------------------------------------------
snippet if "If conditional"
if [ ${1:condition}) ]; then
    $2
else
    $3
fi
endsnippet

snippet elif "elif conditional"
if [ ${1:condition}) ]; then
    $2
elif [ ${3:condition} ]; then
    $4
else
    $5
fi
endsnippet

snippet case "case conditional"
case ${1:variable} in

  ${2:condition-one})
    $3
    ;;

  *)
    ${4:Si-ninguna-se-cumple}
    ;;
esac
endsnippet

#------------------------------------------------------------------------------
# PRINT STATEMENTS
#------------------------------------------------------------------------------
snippet out "Print in console"
echo $1
endsnippet

snippet sout "Print string in console"
echo "$1"
endsnippet

#------------------------------------------------------------------------------
# FUNCTIONS
#------------------------------------------------------------------------------
snippet f "Function without parameters"
${1:function_name}(){
  # ${2:Function_description}
  
  $3
}
endsnippet

#------------------------------------------------------------------------------
# VARIABLES
#------------------------------------------------------------------------------
snippet v "Variable call"
"${$1}" $2
endsnippet
